:root {
    --color-default: #fbc531;
    --color-texts: #2f3640;
    --font-default: 'Times New Roman', Times, serif;
    --color-shadow: #353b48;
}

* {
    margin: 0;
    box-sizing: border-box;
}


.menu-container {
    height: 80px;
    width: 100%;
    border: solid #718093;
}


.hero-container {
    height: 400px;
    width: 100%;
    border: solid #718093;
}


.experiencia-container {
    height: 300px;
    width: 100%;
    border: solid #718093;
}


.lazer-container {
    height: 150px;
    width: 100%;
    border: solid #718093;
}


.testemunhos-container {
    height: 300px;
    width: 100%;
    border: solid #718093;
}

footer{
    background-color:var(--color-default);
    height: 100px;
    color:var(--color-texts);
    width: 100%;
}
.footer_link
{
    text-decoration: none;
}
#footer_content
{
background-color: var(--color-default);
display: grid;
grid-template-columns: repeat(3,2fr);
padding: 2rem 3.5rem;
}
#footer_contats h1
{margin-bottom: 0.75rem;   
}
#footer_social_midia
{
display: flex;
gap: 1rem;
margin-top: 1.0rem;
}
#footer_social_midia .footer_link
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.rem;
    border-radius: 50%;
}

.footer-list
{
display: flex;
flex-direction: column;
gap: 0.75rem;
list-style: none;
}

.footer_link:hover
{
    color:#ff2992;
}


