:root {
    --color-default: #fbc531;
    --color-texts: #2f3640;
    --font-default:  Arial, sans-serif;
    --color-shadow: #353b48;
}

* {
    margin: 0;
    box-sizing: border-box;
}

h2,
h3 {
    font-family: var(--font-default);
    color: var(--color-texts);
}

.menu-container {
    height: 80px;
    width: 100%;
    border: solid #718093;
}


.hero-container {
    height: 400px;
    width: 100%;
    border: solid #718093;
}


.experiencia-container {
    height: 500px;
    width: 100%;
    /* border: solid #718093; */
}

#lazer-titulo {
    padding-bottom: 2%;
}

.lazer-container {
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


.lazer-item {
    height: 100%;
    width: 200px;
    margin: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .8);
    position: relative;
    border-radius: 20px;
}

.lazer-item img {
    opacity: 0.2;
    width: 100%;
    height: 100%;
    transform: scale(1.15);
    transition: transform 0.7s, opacity 0.7s;
}

.lazer-item p {
    position: absolute;
    top: 24px;
    left: 7px;
    color: whitesmoke;
    letter-spacing: 2px;
}

.lazer-item img:hover {
    opacity: 1;
    transform: scale(1.03);
}

#testemunhos-titulo {
    padding-bottom: 2%;
}

.testemunhos-container {
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.testemunho {
    position: relative;
    width: 23%;
    -webkit-box-shadow: -1px 3px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 3px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 3px 10px 0px rgba(0, 0, 0, 0.75);
    height: 165px;
    padding: 8px;
    border-radius: 9px;
    height: 204px;
}

.testemunho h3+p {
    letter-spacing: 2px;
}

.testemunho p:last-child {
    text-align: end;
    font-weight: bold;
    position: absolute;
    bottom: 12px;
    right: 12px;
}

footer {
    background-color: #718093;
    height: 100px;
    color: var(--color-texts);
    width: 100%;
}

footer {
    background-color: var(--color-default);
    height: 100px;
    color: var(--color-texts);
    width: 100%;
}

.footer_link {
    text-decoration: none;
}

#footer_content {
    background-color: var(--color-default);
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    padding: 2rem 3.5re
}

#footer_contats h1 {
    margin-bottom: 0.75rem;
}

#footer_social_midia {
    display: flex;
    gap: 1rem;
    margin-top: 1.0rem;
}

#footer_social_midia .footer_link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.rem;
    border-radius: 50%;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    text-decoration: none;
    list-style: none;
}

.footer_link:hover {
    color: #ff2992;
}

h2 {
    margin-top: 20px;
    margin-left: 60px;
    padding-top: 15px;
    display: flex;
    justify-content: center;
}

.titulo_referencias {
    max-width: fit-content;
    margin: 0 auto;
    background-color: #ebf4f9;
}


.articles {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

article {
    position: relative;
    display: inline-block;
    align-items: center;
}

article img {
    width: 300px;
    height: 350px;
    border-radius: 20px;
    border: 2px solid rgba(2, 1, 1, 0.7);
}

.imperdiveis-text {
    position: absolute;
    bottom: 0;
    /* Alinhar o texto na parte inferior da imagem */
    left: 0;
    /* Alinhar o texto à esquerda da imagem */
    background-color: rgba(255, 255, 255, 0.7);
    /* Fundo semi-transparente para tornar o texto legível */
    padding: 13px;
    /* Espaçamento interno para o texto */
    font-size: 27px;
    /* Tamanho da fonte para o texto */
    text-align: center;
    /* Alinhar o texto ao centro horizontalmente */
    width: 100%;
    /* Largura total do texto para cobrir a imagem */
    font-style: italic
}

.imperdiveis-text:hover {
    background-color: #f5e14d;
    color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s, color 0.3s;
    border-radius: 10px;
    cursor: pointer;
}

.hero {
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(to left, rgba(0, 0, 0, .3), rgba(247, 200, 47, 0.1)),
        url(../images/rio_cristo_aereo1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    color: #ffffff;
    text-align: center;

}

.hero h1 {
    font-size: 12vmin;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.btn {
    background-color: aqua;
    width: 20%;
    align-content: center;
    padding: 9px 35px;
    border: 2px solid aqua;
    border-radius: 5px;
    transition: 1s;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    text-align: center;

}

.btn:hover {
    background-color: transparent;
}

